/* ELEMENTS */
/* STRUCTURE */

.data-table .actions {
    text-align: center;
}

.btn-create {
    width: 100%;
    text-align: center;
}

.ui-modal {
  top: 5%;
  left: 0;
  width: 100%;
  margin-left: 0;
}